.title {
    text-align: center;
    font-size: 3.2em;
    line-height: 1.1;
    padding-bottom: 15px;
}

.userCart {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.68);
    padding: 10px;

  }

  .userCart img {
    width: 155px;
    height: 175px;
  }

.total {
    font-size: 25px;
  }

.btnDecrease, .btnIncrease {
    width: 30px;
    height: 25px;
}

.btnDelete {
    width: 100px;
    height: 25px;
    margin-left: -2px;
    margin-right: -9px;
}