.user-cart {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.68);
    padding: 10px;
  }
  .user-cart img {
    width: 155px;
    height: 175px;
  }
  .total {
    font-size: 25px;
  }
  .btn-decrease, .btn-increase {
    width: 30px;
    height: 25px;
  }
  .btn-delete {
    width: 100px;
    height: 25px;
    margin-left: -2px;
    margin-right: -9px;
  }